*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
.header{
  background-color: honeydew;
  padding: 0 20px;
}

.logo{
  width: 100px;
  height: 30px;
}
.banner{
  width: 100%;
}
.inner-header{
  padding: 40px 22px 0 10px;
}
.header-p-design{
  color: red;
}
span{
  color: mediumseagreen;
}
.design-button{
  border: none;
  border-radius: 30px;
  padding: 10px 45px;
  background-color: mediumseagreen;
  color: #fff;
  margin-bottom: 20px;
}
.book{
  height: 120px;
  width: 80px;
  padding-bottom: 20px;
  
}

  
.all-pad{
  padding: 30px 24px 30px 24px;
}
.img-design{
  background-color: honeydew;
  padding: 20px;
  border-radius: 15px;
  
  
}
.img-design:hover{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 15px lightgray;
}
.book2{
  height: 170px;
  width: 260px;
  padding-bottom: 20px;
}
.img-design2{
  padding: 20px 0 0 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 15px lightgray;
}
.book3{
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.man{
  width: 150px;
  height: 150px;
  
}
li{
  list-style: none;
}

.fourth-section{
  margin-top: 40px;
  background-color: dimgray;
  color: #fff;
  padding-top: 70px;
}